* {
    margin: 0;
    padding: 0;
}

body {
    width:inherit;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    height: 110vh;
    background-color: #161617;
}